<app-nav></app-nav>
<!-- ***** Breadcumb Area Start ***** -->
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(../../assets/img/bg-img/hero-1.jpg)">
</div>
<!-- ***** Breadcumb Area End ***** -->

<!-- Explore Area -->
<section class="dorne-explore-area d-md-flex">
  <!-- Explore Search Area -->
  <div class="explore-search-area d-md-flex">
      <!-- Explore Search Form -->
      <div class="explore-search-form">
          <h6>What are you looking for?</h6>          
          <!-- Tabs Content -->
          <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-places" role="tabpanel" aria-labelledby="nav-places-tab">
                  <form (ngSubmit)="searchPlace()">
                      <select class="custom-select" id="destinations" [(ngModel)] = "destination" [ngModelOptions]="{standalone: true}">
                          <option selected>Your Destinations</option>
                          <option *ngFor="let place of places">{{place.payload.doc.data().place}}</option>                          
                      </select>                      
                      <select class="custom-select" id="price-range" [(ngModel)] = "price" [ngModelOptions]="{standalone: true}">
                          <option selected>Price Range</option>
                          <option *ngFor="let place of places">{{place.payload.doc.data().price}}</option>                          
                      </select>                                          
                      <button type="submit" class="btn dorne-btn mt-50 bg-white text-dark"><i class="fa fa-search pr-2" aria-hidden="true"></i> Search</button>
                  </form>
              </div>              
          </div>
      </div>
      
      <!-- Explore Search Result -->
      <div class="explore-search-result" >
          <!-- Single Features Area -->
          <div class="single-features-area" *ngFor="let place of placesFilter">
              <img src="{{place.payload.doc.data().image}}" alt="">
              <!-- Price -->
              <div class="price-start">
                  <p>FROM ${{place.payload.doc.data().price}}/night</p>
              </div>
              <div class="feature-content d-flex align-items-center justify-content-between">
                  <div class="feature-title">
                      <h5>{{place.payload.doc.data().name}}</h5>                      
                  </div>
                  <div class="feature-favourite">
                      <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                  </div>
              </div>
          </div>          
      </div>
  </div>
  <!-- Explore Map Area -->
  <div class="explore-map-area">
      <div #mapCanvas class="map-canvas"></div>
  </div>
</section>