<div class="dorne-search-form d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="search-close-btn" id="closeBtn" style="margin-top: -48px;">
                    <i class="pe-7s-close-circle" aria-hidden="true"></i>
                </div>
                <form (ngSubmit)="search()">
                    <input (keyup)="onChange($event)" type="text" name="caviarSearch" id="search" placeholder="Search Your Desired Destination">
                    <div>
                        <div *ngFor="let place of places" style="background-color: white;">
                            <h4><a [routerLink]="['/hotel/',place.payload.doc.id]">{{place.payload.doc.data().name}}</a></h4>                        
                        </div>                      
                        <div *ngIf="places?.length < 1">
                            <hr>
                            <p>
                                No results found :(
                            </p>
                        </div>
                    </div>
                    <input type="submit" class="d-none" value="submit">                
                </form>
            </div>
        </div>
    </div>
</div>
<header class="header_area" id="header">
  <div class="container-fluid h-100">
      <div class="row h-100">
          <div class="col-12 h-100">
              <nav class="h-100 navbar navbar-expand-lg">
                  <a class="navbar-brand" routerLink="/" style="color: white;">Revisione</a>
                  
                  <div class="dorne-search-btn">
<!-- TO DO (FEATURE/SEARCH): search function-->
                        <a id="search-btn" style="color: white;"><i class="fa fa-search" aria-hidden="true"></i>Search</a>
                     </div>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dorneNav" aria-controls="dorneNav" aria-expanded="false" aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
                  <div class="collapse navbar-collapse" id="dorneNav" style="position: absolute; right: 0px;">
                        <ul class="navbar-nav mr-auto" id="dorneMenu">
                            <li class="nav-item active">
                                <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
                            </li>                            
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/search">List</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/explore">Explore</a>
                            </li>
                        </ul>
                      <div *ngIf="auth.user$ | async; then authenticated else guest">
                      </div>
                        <ng-template #guest>
                            
                            <div class="dorne-add-listings-btn">
                                <button class="btn dorne-btn" (click)="auth.googleSignin()">Sign in</button>
                            </div>

                        </ng-template>
                        <ng-template #authenticated>
                            <div *ngIf="auth.user$ | async as user" style="padding: 80px;">
                            <a routerLink="/user" style="color: white;">{{user.displayName}} </a>
                            </div>
                            <div class="dorne-add-listings-btn">
                                <button class="btn dorne-btn" (click)="auth.signOut()">Sign out</button>
                    </div>
                        </ng-template>
                  </div>
              </nav>
          </div>
      </div>
  </div>
</header>

