<app-nav></app-nav>
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(../../assets/img/bg-img/hero-1.jpg)"></div>
<section class="dorne-listing-destinations-area section-padding-100-50">
  <div class="container">
      <div class="row">
          <div *ngFor="let hotel of hotel$" class="col-12 col-sm-6 col-lg-4">
              <div class="single-features-area mb-50" (click)="viewDetails(hotel)">
                  <img src={{hotel.payload.doc.data().image}} alt="" width="350" height="250" style="object-fit: cover;">
                  <div class="price-start">
                      <p>FROM ${{hotel.payload.doc.data().price}}/night</p>
                  </div>
                  <div class="feature-content d-flex align-items-center justify-content-between">
                      <div class="feature-title">
                          <h5>{{hotel.payload.doc.data().name}}</h5>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</section>